In [ ]:
#import thư viện
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('dulieuxettuyendaihoc.csv', index_col ="STT")

df.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

Warning: Total number of columns (55) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.tail(10 )

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,8.3,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,6.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,6.1,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,5.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,7.2,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [ ]:
#4
df["DT"].fillna(0, inplace = False)

STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64

In [ ]:
#5
df["T1"].fillna(df ["T1"]. mean(), inplace = False)

STT
1      7.2
2      5.4
3      5.6
4      6.6
5      6.0
      ...
96     8.6
97     3.7
98     8.8
99     2.7
100    4.1
Name: T1, Length: 100, dtype: float64

In [ ]:
#6
is_float64 = df.dtypes == float

df_column_list = df.columns[is_float64].tolist()

df_column_list

['T1',
 'L1',
 'H1',
 'S1',
 'V1',
 'X1',
 'D1',
 'N1',
 'T2',
 'L2',
 'H2',
 'S2',
 'V2',
 'X2',
 'D2',
 'N2',
 'T3',
 'L3',
 'H3',
 'S3',
 'V3',
 'X3',
 'D3',
 'N3',
 'T4',
 'L4',
 'H4',
 'S4',
 'V4',
 'X4',
 'D4',
 'N4',
 'T5',
 'L5',
 'H5',
 'S5',
 'V5',
 'X5',
 'D5',
 'N5',
 'T6',
 'L6',
 'H6',
 'S6',
 'V6',
 'X6',
 'D6',
 'N6',
 'DT',
 'DH1',
 'DH2',
 'DH3',
 'TBM1',
 'TBM2',
 'TBM3',
 'US_TBM1',
 'US_TBM2',
 'US_TBM3']

In [ ]:
#7
df['TBM1'] = (df['T1']*2 + df['L1'] + df['H1'] + df['S1'] + df['V1']*2 + df['X1'] + df['D1'] + df['N1']) / 10
df['TBM2'] = (df['T1']*2 + df['L1'] + df['H1'] + df['S1'] + df['V1']*2 + df['X1'] + df['D1'] + df['N1']) / 10
df['TBM3'] = (df['T1']*2 + df['L1'] + df['H1'] + df['S1'] + df['V1']*2 + df['X1'] + df['D1'] + df['N1']) / 10
print(df)

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   DH1   DH2   DH3  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  3.25  3.25  4.50
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.00  4.00  3.50
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.00  6.75  4.00
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  4.25  4.25  5.25
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  4.25  4.50  5.00
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  5.25  1.50  6.25
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  5.25  3.75  4.75
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  7.00  8.00  4.00
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  5.00  3.50  5.50
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.25  2.50  4.25

     KT  TBM1  TBM2  TBM3  XL1  XL2  XL3
STT
1    A1  7.00  7.00  7.00    K    K    K
2     C  4.69  4.69  4.69    Y    Y    Y
3     C  5.77  5.77  5.77   TB   TB   TB
4    D1  6.21  6.21  6.21   TB   TB   TB
5     A  6.50  6.50  6.50    K    K    K
..   ..   ...   ...   ...  ...  ...  ...
96    C  7.43  7.43  7.43    K    K    K
97    C  4.93  4.93  4.93    Y    Y    Y
98    C  7.05  7.05  7.05    K    K    K
99    C  4.15  4.15  4.15    Y    Y    Y
100   C  5.26  5.26  5.26   TB   TB   TB

[100 rows x 61 columns]

In [ ]:
#7
for i in ["1","2","6"]:
  df ["TBM"+i] = (df ["T"+i]*2 + df ["L"+i] + df ["H"+i] + df ["S"+i] + df ["V"+i]*2 + df ["X"+i] + df ["D"+i] + df ["N"+i]) / 10
  df.rename(columns={"TBM6":"TBM3"}, inplace=False)

In [ ]:
  df.head()
  #7

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3,KQXT,TBM6
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,7.54,7.00,K,K,K,2.800,2.800,2.800,0,7.01
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,5.47,4.69,Y,Y,Y,1.876,1.876,1.876,0,5.07
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,5.38,5.77,TB,TB,TB,2.308,2.308,2.308,1,6.04
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,5.20,6.21,TB,TB,TB,2.484,2.484,2.484,0,6.88
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.36,6.50,K,K,K,2.600,2.600,2.600,0,6.99

In [ ]:
#8
def classify_score(score):
    if score < 5.0:
        return 'Y'
    elif 5.0 <= score < 6.5:
        return 'TB'
    elif 6.5 <= score < 8.0:
        return 'K'
    elif 8.0 <= score < 9.0:
        return 'G'
    else:
        return 'XS'

df['XL1'] = df['TBM1'].apply(classify_score)
df['XL2'] = df['TBM2'].apply(classify_score)
df['XL3'] = df['TBM3'].apply(classify_score)
print(df)

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   DH1   DH2   DH3  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  3.25  3.25  4.50
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.00  4.00  3.50
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.00  6.75  4.00
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  4.25  4.25  5.25
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  4.25  4.50  5.00
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  5.25  1.50  6.25
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  5.25  3.75  4.75
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  7.00  8.00  4.00
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  5.00  3.50  5.50
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.25  2.50  4.25

     KT  TBM1  TBM2  TBM3  XL1  XL2  XL3
STT
1    A1  7.00  7.00  7.00    K    K    K
2     C  4.69  4.69  4.69    Y    Y    Y
3     C  5.77  5.77  5.77   TB   TB   TB
4    D1  6.21  6.21  6.21   TB   TB   TB
5     A  6.50  6.50  6.50    K    K    K
..   ..   ...   ...   ...  ...  ...  ...
96    C  7.43  7.43  7.43    K    K    K
97    C  4.93  4.93  4.93    Y    Y    Y
98    C  7.05  7.05  7.05    K    K    K
99    C  4.15  4.15  4.15    Y    Y    Y
100   C  5.26  5.26  5.26   TB   TB   TB

[100 rows x 61 columns]

In [ ]:
#9
df['US_TBM1'] = df['TBM1'] * (4/10)
df['US_TBM2'] = df['TBM2'] * (4/10)
df['US_TBM3'] = df['TBM3'] * (4/10)
print(df)

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...  KT  TBM1  TBM2  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  A1  7.00  7.00
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...   C  4.69  4.69
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...   C  5.77  5.77
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  D1  6.21  6.21
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...   A  6.50  6.50
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..   ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...   C  7.43  7.43
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...   C  4.93  4.93
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...   C  7.05  7.05
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...   C  4.15  4.15
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...   C  5.26  5.26

     TBM3  XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3
STT
1    7.00    K    K    K    2.800    2.800    2.800
2    4.69    Y    Y    Y    1.876    1.876    1.876
3    5.77   TB   TB   TB    2.308    2.308    2.308
4    6.21   TB   TB   TB    2.484    2.484    2.484
5    6.50    K    K    K    2.600    2.600    2.600
..    ...  ...  ...  ...      ...      ...      ...
96   7.43    K    K    K    2.972    2.972    2.972
97   4.93    Y    Y    Y    1.972    1.972    1.972
98   7.05    K    K    K    2.820    2.820    2.820
99   4.15    Y    Y    Y    1.660    1.660    1.660
100  5.26   TB   TB   TB    2.104    2.104    2.104

[100 rows x 64 columns]

In [ ]:
#10
def determine_admission_result(row):
    if row['KT'] in ['A', 'A1']:
        if ((row['DH1']*2 + row['DH2'] + row['DH3']) / 4) >= 5.0:
            return 1
        else:
            return 0
    elif row['KT'] == 'B':
        if ((row['DH1'] + row['DH2']*2 + row['DH3']) / 4) >= 5.0:
            return 1
        else:
            return 0
    else:
        if ((row['DH1'] + row['DH2'] + row['DH3']) / 3) >= 5.0:
            return 1
        else:
            return 0


df['KQXT'] = df.apply(determine_admission_result, axis=1)


print(df)

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...  TBM1  TBM2  TBM3  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  7.00  7.00  7.00
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  4.69  4.69  4.69
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.77  5.77  5.77
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  6.21  6.21  6.21
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.50  6.50  6.50
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  7.43  7.43  7.43
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  4.93  4.93  4.93
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  7.05  7.05  7.05
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  4.15  4.15  4.15
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.26  5.26  5.26

     XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
STT
1      K    K    K    2.800    2.800    2.800     0
2      Y    Y    Y    1.876    1.876    1.876     0
3     TB   TB   TB    2.308    2.308    2.308     1
4     TB   TB   TB    2.484    2.484    2.484     0
5      K    K    K    2.600    2.600    2.600     0
..   ...  ...  ...      ...      ...      ...   ...
96     K    K    K    2.972    2.972    2.972     0
97     Y    Y    Y    1.972    1.972    1.972     0
98     K    K    K    2.820    2.820    2.820     1
99     Y    Y    Y    1.660    1.660    1.660     0
100   TB   TB   TB    2.104    2.104    2.104     0

[100 rows x 65 columns]

In [ ]:
#11
df.to_csv('processed_dulieuxettuyendaihoc.csv', index=False)